<div class="min-h-screen bg-background dark:bg-background-dark py-8 px-4">
    <div class="max-w-4xl mx-auto bg-background dark:bg-background-dark rounded-xl shadow-md overflow-hidden">
        <div class="bg-background dark:bg-background-dark p-6">
            <h2 class="text-2xl font-bold text-text dark:text-text-dark">Editar Mascota</h2>
        </div>
    <form [formGroup]="petForm" (ngSubmit)="onSave()" class="p-6 space-y-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div>
                    <label class="block text-sm font-medium text-text dark:text-text-dark border-gray-300">Nombre</label>
                    <input type="text" formControlName="name" class="mt-1 block w-full border rounded-md p-2 text-text dark:text-text-dark  border border-gray-300 ">
                </div>

                <div>
                <label class="block text-sm font-medium text-text dark:text-text-dark border-gray-300">Tipo de Mascota</label>
                <select formControlName="type" class="mt-1 block w-full border  text-text dark:text-text-dark p-2 bg-transparent border-gray-300">
                    <option value="" disabled>Seleccione tipo</option>
                    @for (t of tiposMascota; track t) {
                        <option [value]="t">{{ t }}</option>
                    }
                </select>
                </div>

                <div>
                    <label class="block text-sm font-medium text-text dark:text-text-dark border-gray-300">Estado</label>
                    <select formControlName="state" class="mt-1 block w-full border rounded-md p-2 text-text dark:text-text-dark bg-transparent border-gray-300">
                        @for (s of estadosMascota; track s) {
                            <option [value]="s">{{ s }}</option>
                        }
                    </select>
                </div>

                <div>
                    <label class="block text-sm font-medium text-text dark:text-text-dark border-gray-300">Tamaño</label>
                    <select formControlName="size" class="mt-1 block w-full border  rounded-md p-2 text-text dark:text-text-dark bg-transparent border-gray-300">
                        @for (sz of tamanosMascota; track sz) {
                            <option [value]="sz">{{ sz }}</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="race" class="block text-sm font-medium text-text dark:text-text-dark border-gray-300">Raza</label>
                    <input id="race" type="text" formControlName="race" placeholder="Raza"
                        class="mt-1 block w-full border  rounded-md p-2 text-text dark:text-text-dark bg-transparent border-gray-300">
                </div>

                <div>
                    <label for="weight" class="block text-sm font-medium text-text dark:text-text-dark">Peso</label>
                    <input id="weight" type="number" formControlName="weight" placeholder="Peso (kg)"
                        class="mt-1 block w-full border rounded-md p-2 text-text dark:text-text-dark bg-transparent border-gray-300">
                </div>
            </div>
            <div>
                <label for="description"class="block text-sm font-medium text-text dark:text-text-dark">Descripción</label>
                <textarea id="description" formControlName="description" rows="3" class="mt-1 block w-full border rounded-md p-2 text-text dark:text-text-dark border-gray-300"></textarea>
            </div>

            <div class="space-y-2">
                <label class="block text-sm font-medium text-text dark:text-text-dark">Foto de la mascota</label>
                <div class="flex items-center gap-4 border-gray-300 cursor-pointer">
                    @if (imagePreview()) {
                        <img [src]="imagePreview()" class="w-24 h-24 object-cover rounded-lg border  border text-text dark:text-text-dark border-gray-300 cursor-pointer" alt="Foto de la mascota">
                    }
                    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="text-sm text-text dark:text-text-dark border-gray-300 cursor-pointer">
                </div>
            </div>

            <div>
                <label class="block text-sm font-medium text-text dark:text-text-dark mb-2">Ubicación de pérdida</label>
                <app-map (coordinatesChanged)="onLocationChanged($event)"></app-map>
            </div>

            <div class="flex justify-end gap-3 pt-4 border-t dark:border-border-dark navbar dark:navbar-dark">
                <button type="button" (click)="goToPetDetail(petId!)" class="px-4 py-2 text-text dark:text-text-dark hover:bg-blue-700 rounded-lg cursor-pointer navbar dark:navbar-dark">
                    Cancelar
                </button>
                <button type="submit" [disabled]="petForm.invalid" class="px-6 py-2 bg-background dark:bg-background-dark text-text dark:text-text-dark rounded-lg hover:bg-blue-700 disabled:opacity-50 cursor-pointer">
                    Guardar Cambios
                </button>
            </div>
        </form>
    </div>
</div>
